<header class="main-header">
    <div class="main-header-top-bar">
        <div class="hamburguer-y-logo">
            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a>
            <a href="/" class="logo">
                <img src="/img/LOGO siesta1.png">
            </a>
        </div>
        <div class="barra">
            <input type="search" class="barrabusq" placeholder="Buscar productos">
            <span class="boton"><button type="submit"><i class="fas fa-search"></i></button></span>
        </div>
        <div class="icons">
            <a href="/login" class="login"><i class="fas fa-user"></i></a>
            <a href="#" class="help"><i class="fas fa-question-circle"></i></a>
            <a href="/cart" class="shopping-cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
</header>