<div class="main-product">
    <img src="/img/<%= productDetail.imgs[0] %>" class="img-principal">
    <div class="small-product">
        <% for (let i = 1; i < productDetail.imgs.length; i++) { %>
            <img src="/img/<%= productDetail.imgs[i] %>" class="img-secundaria">
        <% } %>
    </div>
</div>