<div class="main-product">
    <img src="/img/ejemplo1.jpg" class="img-principal">
    <div class="small-product">
        <img src="/img/ejemplo2.jpg" class="img-secundaria">
        <img src="/img/ejemplo3.jpg" class="img-secundaria">
        <img src="/img/ejemplo4.jpg" class="img-secundaria">
        <img src="/img/ejemplo5.jpg" class="img-secundaria">
        <img src="/img/ejemplo6.jpg" class="img-secundaria">
    </div>
</div>