<div class="producto">
    <img src="/img/ejemplo1.jpg" class="img-prod">
    <img src="/img/ejemplo2.jpg" class="img-prod">
    <img src="/img/ejemplo3.jpg" class="img-prod">
    <img src="/img/ejemplo4.jpg" class="img-prod">
    <img src="/img/ejemplo5.jpg" class="img-prod">
    <img src="/img/ejemplo6.jpg" class="img-prod">
</div>