<div class="scroll-producto">   
    <div class="scroll-img">
        <% for (let i = 0; i < productDetail.imgs.length; i++) { %>
            <img src="/img/<%= productDetail.imgs[i] %>" class="img-prod">
        <% } %>
    </div>
</div>