<div class="scroll-producto">   
    <div class="scroll-img">
        <img src="/img/ejemplo1.jpg">
        <img src="/img/ejemplo2.jpg">
        <img src="/img/ejemplo3.jpg">
        <img src="/img/ejemplo4.jpg">
        <img src="/img/ejemplo5.jpg">
        <img src="/img/ejemplo6.jpg">
    </div>
</div>