* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    padding-top: 60px;
    padding-bottom: 113px;
    background-color: #ffffff;
    height: 100%;
}

.main-header {
    display: flex;
}

.main-header-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 15px 0 15px;
    width: 100%;
    position: fixed;
    top: 0;
}

.hamburger-y-logo {
    display: flex;
    justify-content: space-between;
    width: 66%;
    align-items: center;
}

.logo {
    display: none;
}

.barra {
    display: none;
}

.barra-mobile {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}


.barrabusq {
    width: 250px;
    padding: 5px 10px;
    border: solid 0.5px black;
    border-right: none;
}

.boton button {
    background-color: white;
    border: 1px solid black;
    border-left: none;
    padding: 5px 10px;
}


.product-create {
    display: flex;
    justify-content: center;
    margin-top: 4vw;
}

.main-product, .scroll-producto, .scroll-img, .description-div, .productos-recomendados {
    display: none;
}

.hamburger-button, .shopping-cart {
    color: black;
    background-color: transparent;
    border: none;
}

.login, .help {
    display: none;
}

.products {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 80px;
}

.producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-prod {
    width: 100%;
}


.social a {
    color: #fff;
    text-decoration: none;
    margin: 0 30px;
}

.products-footer {
    display: none;
}

.composition-n-origin {
    display: none;
}

.description-prod {
    width: 100%;
    margin: 0;
    background-color: white;
}

.description {
    border: solid 0.5px #000000;
    border-top: none;
    padding: 10px 10px;
}

.nom-prod {
    margin-bottom: 10px;
}

.price {
    margin-top: 10px;
}

.cart {
    text-align: center;
    border: solid 0.5px #000000;
    padding: 10px 10px;
}

.add-to-cart i {
    font-size: 40px;
    color: black;
    margin: 0;
}

.cart p {
    color: black;
    margin-top: 6px;
}

.cart a {
    text-decoration: none;
}

.div-product-description {
    height: 100px;
    padding-top: 5px ;
}

.btn-mobile {
    background-color: white;
    border: 0.5px solid #000000;
    color: #000000;
    text-decoration: none;
    width: 300px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.list-group-flush i {
    padding-right: 10px;
}

.edit-imgs {
    display: flex;
    justify-content: center;
}

.edit-imgs img {
    width: 10%;
    margin: 0 10px;
    border: 1px solid #000000;
}

@media (min-width: 768px) {
    body {
        padding-top: 4vw;
        padding-bottom: 0;
    }

    .main-header {
        display: flex;
        padding: 0;
    }

    .main-header-top-bar {
        width: 100%;
        padding-top: 2vw;
        align-items: center;
        top: 0;
        z-index: 10;
    }

    .hamburger-y-logo {
        display: flex;
        justify-content: space-between;
        width: 20%;
    }

    #unlogged-li {
        display: none;
    }

    #logged-li {
        display: none;
    }

    .logo {
        display: block;
        width: 35%;
    }

    .logo img {
        width: 100%;
    }

    .barra-mobile {
        display: none;
    }

    .barra {
        display: flex;
        width: 300px;
        position: relative;
        left: 60px;
        margin-right: 15%;
    }

    .barrabusq {
        width: 250px;
        padding: 5px 10px;
        border: solid 0.5px black;
        border-right: none;
    }

    .boton button {
        background-color: white;
        border: 1px solid black;
        border-left: none;
        padding: 5px 10px;
    }

    .icons {
        display: flex;
        align-items: center;
    }

    .login, .help {
        display: block;
        color: black;
    }

    .icons i {
        margin: 0 10px;
    }

    .dropdown-menu i {
        margin: 0;
        padding-right: 10px;
    }

    .main {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        position: relative;
        margin: 10vw 0;
    }

    .scroll-producto, .scroll-img, .description-div, .productos-recomendados {
        display: block;
    }

    .producto {
        display: none;
    }

    .producto-y-descripcion {
        display: flex;
        justify-content: center;
    }

    .scroll-producto {
        width: 55vw;
        height: 80vw ;
        margin-right: 30px;
    }

    .scroll-img {
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
    }

    .scroll-img img { 
        width: 100%;
        height: 100%;
    }

    .description-div {
        text-align: center;
        width: 210px;
        font-size: 70%;
        align-self: center;
    }

    .nombre-y-desc-div {
        padding: 10px 10px;
        border: solid 0.5px black;
    }

    .nombre-y-desc-div p {
        text-align: start;
    }

    .talla-div {
        padding: 10px 10px;
        border: solid 0.5px black;
        border-top: none;
    }

    .h4-product {
        text-align: center;
    }

    .tallas {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 15px;
    }

    .button-tallas {
        width: 70px;
        padding: 10px 20px;
        border: solid 0.5px #000000;
        background-color: #ffffff;
        margin: 5px 0;
        opacity: .8;
    }

    .add-to-cart-div {
        padding: 10px 10px;
        border: solid 0.5px #000000;
        border-top: none;
        text-align: center;
        background-color: #000000;
    }

    .add-to-cart-div a {
        color: #ffffff;
        font-size: 14px;
        text-decoration: none;
    }

    .main-footer {
        display: none;
    }



    .main-product {
        display: none;
    }

    .articulos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .div-product-description {
        padding: 10px 10px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }

    .button-selected {
        background-color: #000000;
        color: #ffffff;
        opacity: 1;
    }

    .edit-button {
        background-color: #000000;
        text-decoration: none;
        color: #ffffff;
        width: 100%;
        padding: 10px;
        margin-bottom: 8px;
        transition: all;
    }

    .edit-button:hover {
        color: darkgray;
    }

    .delete-form {
        width: 100%;
    }

    .delete-button {
        background-color: #000000;
        text-decoration: none;
        color: #ffffff;
        width: 100%;
        padding: 10px;
        border: none;
        font-size: 11px;
    }
}

@media (min-width: 1200px) {
    body {
        padding-top: 5vw;
    }

    .main-header-top-bar {
        padding-top: 25px;
        width: 100%;
        align-items: center;
        top: 0;
        z-index: 10;
    }

    .hamburger-y-logo {
        width: 30vh;
    }

    .logo img {
        width: 100%;
    }

    .barra {
        width: 30%;
    }

    .barrabusq {
        width: 100%;
    }

    .main {
        margin: 5vw 0;
    }

    .main-product {
        width: 35vw;
        display: flex;
        margin-right: 30px;
    }

    .description-div {
        font-size: 80%;
    }

    .small-product {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 10%;
        margin: 0 30px 0 10px;
        justify-content: flex-end;
    }

    .img-principal {
        width: 100%;
    }

    .img-secundaria {
        width: 100%;
        margin-top: 5px;
        cursor: pointer;
        object-fit: cover;
        opacity: .7;
        transition: 800ms;
    }

    .img-secundaria:hover {
        opacity: 1;
    }

    .active {
        opacity: 1 !important;
        box-shadow: 0 5px 5px rgba(1, 23, 46, 0.3);
    }

    .scroll-producto {
        display: none;
    }

    .recomendado {
        width: 25%;
    }

    .recomendado a {
        padding: 30px 0;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }

    .edit-button {
        background-color: #000000;
        text-decoration: none;
        color: #ffffff;
        width: 100%;
        padding: 10px;
        margin-bottom: 8px;
        transition: all;
    }

    .edit-button:hover {
        color: darkgray;
    }


    .delete-form {
        width: 100%;
    }

    .delete-button {
        background-color: #000000;
        text-decoration: none;
        color: #ffffff;
        width: 100%;
        padding: 10px;
        border: none;
        font-size: 14px;
    }
}


.button-tallas {
    transition: 450ms;
}

.button-tallas:hover {
    background-color: #ebebeb;
}


.div-product-description a, .add-to-cart-div a {
    transition: 450ms;
}

.div-product-description:hover a, .add-to-cart-div:hover a {
    color: #ebebeb;
}

i {
    transition: 450ms;
}

.product-a {
    text-decoration: none;
    width: 30%;
    margin: 5px 15px 50px 15px;
}

.product-article {
    border: 0.5px solid black;
    transition: 800ms;
}

.product-article:hover {
    box-shadow: 20px 20px 30px rgba(10, 10, 10, 0.20);
}

.product-article:hover .div-product-description {
    background-color: #000000;
    color: #ffffff;
}

.product-article img {
    width: 100%;
}

.div-product-description {
    color: #000000;
    transition: 800ms;
}

.form-create, .form-edit {
    margin: 2vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-create h1, .form-edit h1 {
    margin-bottom: 40px;
}

.form-create input, .form-edit input {
    margin: 20px 0;
    text-align: center;
    width: 30vw;
    border: none;
    border-bottom: 1px solid #000000;
    color: black;
    font-size: 16px;
}

.form-create textarea, .form-edit textarea {
    width: 30vw;
    text-align: center;
    border: 1px solid #000000;
    height: 4vw;
    margin: 20px 0;
    font-size: 16px;
}

.form-create label, .form-edit label {
    font-size: 20px;
    margin-top: 60px;
}

.genre-radio input {
    width: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

#img {
    border: none;
}

.radio-button input {
    width: 15px;
    margin-right: 6px;
}

.invalid-product {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10vw 0;
}

.offcanvas-body ul {
    list-style: none;
}

.offcanvas-body a {
    text-decoration: none;
    color: black;
}

.products-div {
    width: 100%;
}