<header class="main-header">

    <div class="main-header-top-bar">

        <div class="hamburger-y-logo">

            <button class="hamburger-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fas fa-bars"></i></button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body" style="z-index: 100;">
                    <ul class="list-group list-group-flush">
                        <% if (!locals.isLogged) { %>

                            <li class="list-group-item" id="unlogged-li"><a href="/user/login"><i class="fas fa-sign-in-alt"></i>Iniciar Sesi贸n</a></li>
                            <li class="list-group-item"><a href="/products"><i class="fas fa-tshirt"></i>Todos los productos</a></li>
                            <li class="list-group-item"><a href="/products/men"><i class="fas fa-male"></i>Hombre</a></li>
                            <li class="list-group-item"><a href="/products/women"><i class="fas fa-female"></i>Mujer</a></li>
                            <form action="/products/search" method="get" class="barra-mobile">
                                <input type="search" name="keywords" class="barrabusq" placeholder="Buscar productos">
                                <span class="boton"><button type="submit"><i class="fas fa-search"></i></button></span>
                            </form>

                        <% } else { %>

                            <li class="list-group-item" id="logged-li"><a href="/user/profile">Perfil</a></li>
                            <li class="list-group-item" id="logged-li"><a href="/user/logout"><i class="fas fa-sign-out-alt"></i>Cerrar Sesi贸n</a></li>
                            <li class="list-group-item"><a href="/products"><i class="fas fa-tshirt"></i>Todos los productos</a></li>
                            <li class="list-group-item"><a href="/products/men"><i class="fas fa-male"></i>Hombre</a></li>
                            <li class="list-group-item"><a href="/products/women"><i class="fas fa-female"></i>Mujer</a></li>
                            <form action="/products/search" method="get" class="barra-mobile">
                                <input type="search" name="keywords" class="barrabusq" placeholder="Buscar productos">
                                <span class="boton"><button type="submit"><i class="fas fa-search"></i></button></span>
                            </form>

                        <% } %>
                    </ul>
                </div>
            </div>

            <a href="/" class="logo">
                <img src="/img/LOGO siesta1.png">
            </a>
        </div>

        <form action="/products/search" method="get" class="barra">
            <input type="search" name="keywords" class="barrabusq" placeholder="Buscar productos">
            <span class="boton"><button type="submit"><i class="fas fa-search"></i></button></span>
        </form>

        <div class="icons">
            
            <% if (!locals.isLogged) { %>

                <div class="avatar-icon">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/img/avatars/default.png" style="border: none">
                    </a>
                  
                    <ul class="dropdown-menu" style="transform: translate(-25px, 90px)">
                      <li><a class="dropdown-item" href="/user/profile"><i class="fas fa-sign-in-alt"></i>Iniciar Sesi贸n</a></li>
                    </ul>
                </div>
                <a href="/user/login" class="shopping-cart"><i class="fas fa-shopping-cart"></i></a>

            <% } else { %>

                <div class="avatar-icon">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/img/avatars/<%= locals.userLogged.avatar %>">
                    </a>
                  
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/user/profile"><i class="fas fa-user"></i>Perfil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <% if (locals.userLogged.role_id == 1) { %>
                            <li><a class="dropdown-item" href="/admin"><i class="fas fa-cog"></i>Panel de Administrador</a></li>
                            <li><hr class="dropdown-divider"></li>
                        <% } %>
                        <li><a class="dropdown-item" href="/user/logout"><i class="fas fa-sign-out-alt"></i>Cerrar Sesi贸n</a></li>
                    </ul>
                </div>
                <a href="/products/cart" class="shopping-cart"><i class="fas fa-shopping-cart"></i></a>

            <% } %>

            

        </div>
    </div>

</header>