<div class="scroll-producto">   
    <div class="scroll-img">
        <% for (let i = 0; i < 6; i++) { %>
            <img src="/img/products/<%= product.images[i].image %>" class="img-prod">
        <% } %>
    </div>
</div>