<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {Title: 'Create'}) %>
<body>
    <%- include('partials/header.ejs') %>

    <div class="form-create">

        <h1>Crear producto</h1>

        <form action="/products/create" method="post">
            <input type="text" name="name" placeholder="Nombre del producto">
            <br>

            <input type="text" name="price" placeholder="Precio del producto">
            <br>

            <textarea name="description"  cols="30" rows="10" placeholder="Descripción del producto"></textarea>
            <br>

            <h3>Imagen del producto</h3>
            <input type="file" name="image" placeholder="Imagen del producto">
            <br>
    
            <input type="text" name="colors" placeholder="Color del producto">
            <br>
            
            <input type="text" name="size1" placeholder="Talle del producto">
            <br>
            <input type="text" name="size2" placeholder="Talle del producto">
            <br>
            <input type="text" name="size3" placeholder="Talle del producto">
            <br>
            <input type="text" name="size4" placeholder="Talle del producto">
            <br>
    
            <button type="submit" class="btn btn-success btn-block">Editar producto</button>
        </form>

    </div>

    <%- include('partials/footer') %>
</body>
</html>
