<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {Title: 'Products'}) %>
<body>
    <%- include('partials/header') %>
    <main class="products-main">
        <div class="products-div">
            <div class="products">
                <a href="/products/product" class="product-a">
                    <article class="product-article">
                        <img src="/img/producto1.jpg">
                        <div class="div-product-description">
                            <p>NAME</p>
                            <p>$PRICE</p>
                        </div>
                    </article>
                </a>
                <a href="#" class="product-a">
                    <article class="product-article">
                        <img src="/img/producto2.jpg">
                        <div class="div-product-description">
                            <p>NAME</p>
                            <p>$PRICE</p>
                        </div>
                    </article>
                </a>
                <a href="#" class="product-a">
                    <article class="product-article">
                        <img src="/img/producto3.jpg">
                        <div class="div-product-description">
                            <p>NAME</p>
                            <p>$PRICE</p>
                        </div>
                    </article>
                </a>
                <a href="#" class="product-a">
                    <article class="product-article">
                        <img src="/img/producto4.jpg">
                        <div class="div-product-description">
                            <p>NAME</p>
                            <p>$PRICE</p>
                        </div>
                    </article>
                </a>
                <a href="#" class="product-a">
                    <article class="product-article">
                        <img src="/img/producto5.jpg">
                        <div class="div-product-description">
                            <p>NAME</p>
                            <p>$PRICE</p>
                        </div>
                    </article>
                </a>
                <a href="#" class="product-a">
                    <article class="product-article">
                        <img src="/img/producto6.jpg">
                        <div class="div-product-description">
                            <p>NAME</p>
                            <p>$PRICE</p>
                        </div>
                    </article>
                </a>
            </div>
            
        </div>
    </main>

    <%- include('partials/footer') %>
</body>
</html>