<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {Title: 'Admin'}) %>

<body class="admin-body">

    <div class="foreground"></div>

    <div class="midground">
        <div class="tuna"></div>
    </div>

    <section class="admin-panel">
        <button class="box1" style="z-index: 6;"> <a href="/products/create"> CREAR PRODUCTO </a> </button>
        <button class="box1" style="z-index: 6;"> <a href="/user/list"> LISTA DE USUARIOS </a> </button>
    </section>

    <div class="background"></div>
</body>

</html>