* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.container-icon {
    margin-left: 15px;
}

img {
    max-width: 100%
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: black;
}

.contenedor-de-secciones {
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    width: 100%;
    color: black;
}

.contenedor-de-secciones .container {
    color: black;
    font-size: 7px;
    padding: 9px;
}

.container-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
}

.item {
    border: 1px solid black;
    border-top: none;
    border-left: none;
}

.item:hover {
    box-shadow: 20px 20px 30px rgba(10, 10, 10, 0.20);
}

.info-product {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:black;
    font-size: 10px;
}

.container .favoritos a {
    size: 3px;
}

.price {
    font-size: 13px;
    font-weight: 600;
}

.item img {
    transition: all .5s;
    width: 100%;
}

.item figure {
    overflow: hidden;
}

.item:hover img {
    transform: scale(1.2);
}

.info-product button {
    border: none;
    background: none;
    background-color: black;
    color: aliceblue;
    padding: 10px 10px;
    cursor: pointer;
    width: 32%;
    height: 15%;
    font-size: 7px;
}

.final p {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 80px;
    font-size: 11px;
}

.pie-de-pagina {
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    width: 100vw;
    height: 10%;
    position: fixed;
    bottom: 1px;
}

.continuar p {
    color: white;
    background: black;
    font-size: 12px;
    width: 100%;
    text-align: center;
    padding-top: 19px;
    height: 100%;
    margin-top: 0;
}

.continuar {
    width: 50%;
    margin-right: 7px;
}

.total {
    display: flex;
    width: 50%;
}

.total h4 {
  font-size: 13px;
  margin-left: 5px;
  padding-top: 17px;
}

.total p {
margin-left: 20px;
text-align: center;
font-size: 15px;
margin-top: 11px;
}

.info-product button:hover {
    box-shadow: 20px 20px 30px rgba(10, 10, 10, 0.20);
}

button:hover {
    transform: scale(1.2);
    transition: all .5s;
}

.back a {
    color:rosybrown;
}

.back {
    color: white;
    background-color:black;
    height: 6vh;
    padding: 5px 15px 15px;
    border-radius: 15px;
    margin-top: 3%;
    opacity: 75%;
}

.back p {
    font-size: 9px;
}


.back:hover {
    box-shadow: 20px 20px 30px rgba(10, 10, 10, 0.20);
    transform: scale(1.2);
    transition: all .8s;
}

@media (min-width: 768px) {

.info-product button:hover {
    box-shadow: 20px 20px 30px rgba(10, 10, 10, 0.20);
}

button:hover {
    transform: scale(1.2);
    transition: all .5s;
}

.final p {
    font-size: 12px;
    padding-bottom: 40px;
    padding-top: 30px;
}

.continuar p {
    font-size: 15px;
    text-align: center;
    padding-top: 25px;
}

.total p {
   font-size: 20px;
}

.back a {
    color:pink;
}

.back {
    color: white;
    background-color:black;
    height: 5vh;
    padding: 5px 15px 15px;
    border-radius: 15px;
    margin-top: 3%;
    opacity: 75%;
}

.back p {
    font-size: 10px;
}

.back:hover {
    box-shadow: 20px 20px 30px rgba(10, 10, 10, 0.20);
    transform: scale(1.2);
    transition: all .8s;
}

}

@media (min-width: 1200px) {


.contenedor-de-secciones {
    width: 70vw;

}

.container-items {
    width: 100vw;
}

.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.final {
    padding-left: 10%;
}

.container-items {
    width: 70vw;
}

.info-product {
    padding: 15px 18px;
    font-size: 11px;
}

.info-product button {
   margin: 0;
   width: 100%;
   font-size: 8px;
}

.info-product button:hover {
    box-shadow: 20px 20px 30px rgba(10, 10, 10, 0.20);
}

button:hover {
    transform: scale(1.2);
    transition: all .5s;
}

.total {
    padding-left: 15%;
}

.back a {
    color:rosybrown;
}

.back p {
    font-size: 14px;
}

.back {
    color: white;
    background-color:black;
    height: 8vh;
    padding: 9px 15px 15px;
    border-radius: 35px;
    margin-top: 2%;
    opacity: 64%;
}

.back:hover {
    box-shadow: 20px 20px 30px rgba(10, 10, 10, 0.20);
    transform: scale(1.2);
    transition: all .8s;
}

header {
    display: flex;
    justify-content: space-between;
}
};