<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://kit.fontawesome.com/e32b1dc814.js" crossorigin="anonymous"></script>
   <style>
     @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
   </style>
   <title>Home SIESTA</title>
</head>
<body>
   <header class="header">
            <nav class="header__container container">
                <div class="header__logo">
                    <a href="/" class= logo>
                        <img src="static/imagen/LOGO-siesta2.png">
                    </a>
                <div class="header__container container">
                </div>
                <div class="header__btn">
                    <span style="--i: 0"></span>
                    <span style="--i: 10"></span>
                    <span style="--i: 20"></span>
                </div>
            </nav>
            <nav>
        <a href="#">Home</a>
        <a href="#">Products</a>
        <a href="#">Contact</a>
          </nav>
      <div class="buttons">
        <button class="button">Hombre</button>
        <button class="button">Mujer</button>
        <button class="button">Niños</button>
      </div>
     </div>
   </header>
  <main>
    <section class="productos">
      <div class="producto">
        <img src="static/imagen/0604666401_1_1_1.jpg" alt="Product 1">
          <div class="info-producto"> 
          <p class="envio"><i class="fas fa-truck"></i></p>
          <p>$80.000</p>
          <p class="descuento">20% off</p>
          <p class="descripcion">Men suit</p>
        </div>
      </div>
      
      <div class="producto">
        <img src="static/imagen/2140760505_1_1_1.jpg" alt="Product 2">
        <div class="info-producto"> 
          <p class="envio"><i class="fas fa-truck"></i></p>
          <p>$70.500</p>
          <p class="descuento">10% off</p>
          <p class="descripcion">Women long skirt</p>
        </div>
      </div>
      
      <div class="producto">
        <img src="static/imagen/2553068407_1_1_1.jpg" alt="Product 3">
        <div class="info-producto"> 
          <p class="envio"><i class="fas fa-truck"></i></p>
          <p>$23.200</p>
          <p class="descuento">5% off</p>
          <p class="descripcion">Denim dress</p>
        </div>
      </div>
      
    </section>
    <div class="section-2">
        <section>
          <h2 class="categoria">New in</h2>
          <div class="productos">
          <div class="producto">
              <img src="static/imagen/2753532711_1_1_1.jpg" alt="Product 4">
              <div class="info-producto"> 
                <p class="envio"><i class="fas fa-truck"></i></p>
                <p class="precio">$69.770</p>
                <p class="descuento">10% OFF</p>
                <p class="descripcion">Black pants</p> 
              </div>
            </div>
            
            <div class="producto">
              <img src="static/imagen/5646667704_1_1_1.jpg" alt="Product 5">
              <div class="info-producto"> 
                <p class="envio"><i class="fas fa-truck"></i></p>
                <p>$230.000</p>
                <p class="descuento">20% off</p>
                <p class="descripcion">Siesta Men suit</p>
              </div>
            </div>
            
            <div class="producto">
              <img src="static/imagen/2761991630_2_1_1.jpg" alt="Product 6">
              <div class="info-producto"> 
                <p class="envio"><i class="fas fa-truck"></i></p>
                <p>$70.500</p>
                <p class="descuento">10% off</p>
                <p class="descripcion">Red siesta</p>
              </div>
            </div>
            
            <div class="producto">
              <img src="static/imagen/5646667704_1_1_1.jpg" alt="Product 7">
              <div class="info-producto"> 
                <p class="envio"><i class="fas fa-truck"></i></p>
                <p>$239.200</p>
                <p class="descuento">5% off</p>
                <p class="descripcion">Elegant suit Siesta</p>
              </div>
            </div>
          </div>
        </section>
      </div>
      
  </main>

  <footer class=social>
     <div class= "social">
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Instagram</a>
    </div>
    <p>Copyright © 2023</p>
   </footer>
</body>
</html>