<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles-productDetail.css">
    <script src="https://kit.fontawesome.com/e32b1dc814.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
    </style>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="hamburguer-y-logo">
                <a href="#" class="hamburguer-button">
                    <i class="fas fa-bars"></i>
                </a>
                <a href="/" class="logo">
                    <img src="/img/LOGO siesta1.png">
                </a>
            </div>
            <div class="barra">
                <input type="search" class="barrabusq" placeholder="Buscar productos">
                <span class="boton"><button type="submit"><i class="fas fa-search"></i></button></span>
            </div>
            <div class="icons">
                <a href="#" class="login"><i class="fas fa-user"></i></a>
                <a href="#" class="help"><i class="fas fa-question-circle"></i></a>
                <a href="#" class="shopping-cart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="producto">
            <img src="/img/ejemplo1.jpg" class="img-prod">
            <img src="/img/ejemplo2.jpg" class="img-prod">
            <img src="/img/ejemplo3.jpg" class="img-prod">
            <img src="/img/ejemplo4.jpg" class="img-prod">
            <img src="/img/ejemplo5.jpg" class="img-prod">
            <img src="/img/ejemplo6.jpg" class="img-prod">
        </div>

        <div class="producto-y-descripcion">
            <div class="scroll-producto">   
                <div class="scroll-img">
                    <img src="/img/ejemplo1.jpg">
                    <img src="/img/ejemplo2.jpg">
                    <img src="/img/ejemplo3.jpg">
                    <img src="/img/ejemplo4.jpg">
                    <img src="/img/ejemplo5.jpg">
                    <img src="/img/ejemplo6.jpg">
                </div>
            </div>

            <div class="composition-n-origin">
                <h2>COMPOSICIÓN & ORIGEN</h2>
                <br>
                <h3>COMPOSICIÓN</h3>
                <br>
                <p class="comp">EXTERIOR</p>
                <p class="comp">100% algodón</p>
                <br>
                <p class="comp">FORRO</p>
                <p class="comp">100% algodón</p>
                <br>
                <h3>ORIGEN</h3>
                <br>
                <p>Trabajamos con nuestros proveedores, trabajadores, sindicatos y organismos internacionales para desarrollar una cadena de suministro en la que se respetan y promueven los derechos humanos, contribuyendo a los Objetivos de Desarrollo Sostenible de Naciones Unidas.</p> 
                <br>
                <p>Gracias a la colaboración con nuestros proveedores, trabajamos para conocer las instalaciones y procesos que se emplean para fabricar nuestros productos con el objetivo de conocer su trazabilidad.</p>
                <p>Hecho en China</p>
            </div>
        
            <div class="main-product">
                <img src="/img/ejemplo1.jpg" class="img-principal">
                <div class="small-product">
                    <img src="/img/ejemplo2.jpg" class="img-secundaria">
                    <img src="/img/ejemplo3.jpg" class="img-secundaria">
                    <img src="/img/ejemplo4.jpg" class="img-secundaria">
                    <img src="/img/ejemplo5.jpg" class="img-secundaria">
                    <img src="/img/ejemplo6.jpg" class="img-secundaria">
                </div>
            </div>

            <div class="description-div">
                <div class="nombre-y-desc-div">
                    <p class="nom-prod">Nombre del Producto&nbsp;&nbsp;&nbsp;<i class="fas fa-bookmark"></i></p>
                    <p class="price">Precio</p>
                    <br>
                    <p>Blazer straight fit confeccionada en tejido de algodón. Cuello con solapas de muesca y manga larga. Bolsillo de vivo en pecho y de solapa en cadera. Cierre frontal de botonadura.</p>
                    <br>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam doloremque aspernatur quo cum, fuga dolor laudantium minima laborum ipsam nostrum nesciunt saepe in unde officiis maiores obcaecati veritatis provident maxime!</p>
                </div>

                <div class="talla-div">
                    <p>Marrón / Topo | 4387/300</p>
                    <br>
                    <h4>Tallas</h4>
                    <br>
                    <div class="tallas">
                        <button class="button-tallas">S</button>
                        <button class="button-tallas">M</button>
                        <button class="button-tallas">L</button>
                        <button class="button-tallas">XL</button>
                    </div>
                </div>

                <div class="add-to-cart-div">
                    <a href="#">
                        <i class="fas fa-cart-plus"></i>
                    </a>
                    <a href="#">
                        <p>Add to Cart</p>
                    </a>
                </div>

            </div>
        </div>

        <div class="productos-recomendados">
            <h2>Tal vez te interese</h2>
            <div class="articulos">
                <article class="recomendado">
                    <img src="/img/producto-relacionado1.jpg">
                    <div class="div-cart">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="#">
                            <p>Add to Cart</p>
                        </a>
                    </div>
                </article>
                <article class="recomendado">
                    <img src="/img/producto-relacionado2.jpg">
                    <div class="div-cart">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="#">
                            <p>Add to Cart</p>
                        </a>
                    </div>
                </article>
                <article class="recomendado">
                    <img src="/img/producto-relacionado3.jpg">
                    <div class="div-cart">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="#">
                            <p>Add to Cart</p>
                        </a>
                    </div>
                </article>
                <article class="recomendado">
                    <img src="/img/producto-relacionado4.jpg">
                    <div class="div-cart">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="#">
                            <p>Add to Cart</p>
                        </a>
                    </div>
                </article>
                <article class="recomendado">
                    <img src="/img/producto-relacionado5.jpg">
                    <div class="div-cart">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="#">
                            <p>Add to Cart</p>
                        </a>
                    </div>
                </article>
                <article class="recomendado">
                    <img src="/img/producto-relacionado6.jpg">
                    <div class="div-cart">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="#">
                            <p>Add to Cart</p>
                        </a>
                    </div>
                </article>
                <article class="recomendado">
                    <img src="/img/producto-relacionado7.jpg">
                    <div class="div-cart">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="#">
                            <p>Add to Cart</p>
                        </a>
                    </div>
                </article>
                <article class="recomendado">
                    <img src="/img/producto-relacionado8.jpg">
                    <div class="div-cart">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="#">
                            <p>Add to Cart</p>
                        </a>
                    </div>
                </article>
                <article class="recomendado">
                    <img src="/img/producto-relacionado9.jpg">
                    <div class="div-cart">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="#">
                            <p>Add to Cart</p>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </main>

    <footer class="main-footer">
        <div class="description-prod">
            <div class="cart">
                <a href="#" class="add-to-cart-1">
                    <p>Add to Cart</p>
                </a>
            </div>
            <div class="description">
                <p class="nom-prod">Nombre del Producto&nbsp;&nbsp;&nbsp;<i class="fas fa-bookmark"></i></p>
                <p class="price">Precio</p>
            </div>
        </div>
    </footer>
</body>
</html>