<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {Title: 'Edit'}) %>
<body>
    <%- include('partials/header.ejs') %>

    <div class="form-edit">

        <form action="/products/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

            <h1>EDITAR PRODUCTO</h1>

            <input type="text" name="name" placeholder="Nombre">
            <br>

            <input type="text" name="price" placeholder="Precio">
            <br>

            <textarea name="description" cols="30" rows="10" placeholder="Descripción"></textarea>
            <br>

            <label>Imagenes</label>
            <br>
            <input type="file" id="img" name="images" placeholder="Imagen" multiple>
            <br>

            <input type="text" name="colors" placeholder="Color">
            <br>

            <input type="text" name="size1" placeholder="Talle">
            <br>
            <input type="text" name="size2" placeholder="Talle">
            <br>
            <input type="text" name="size3" placeholder="Talle">
            <br>
            <input type="text" name="size4" placeholder="Talle">
            <br>

            <button type="submit" class="btn btn-success btn-block">EDITAR</button>
        </form>
    </div>

    <%- include('partials/footer') %>
</body>
</html>