<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {Title: 'Login'}) %>

<body>
    <%- include('partials/header.ejs') %>

    <main>
        <form class="acceso">
            <h4 class="h4-login">ACCEDE A TU CUENTA</h4>
            <br>
            <div class="inp"><input type="usuario" placeholder="E-MAIL" required></div>
            <br>
            <br>
            <div class="inp"><input type="contraseña" placeholder="CONTRASEÑA" required></div>
            <br>
            <br>
            <button class="h4-login">INICIAR SESION</button>
            <br>
            <br>
            <div class="recuperar"><a href="#" class="a-login">¿Has olvidado tu contraseña?</a></div>
        </form>
        <form class="registro">
            <h4>¿NECESITAS UNA CUENTA?</h4>
            <br>
            <button> <a href="/register" class="a-login">REGISTRATE</a></button>
        </form>
    </main>

    <footer>
        <div class="footer-container">
            <div>
                <ul class="pie1">
                    <H4>AYUDA</H4>
                    <li>MI CUENTA</li>
                    <li>ARTICULOS Y TALLES</li>
                </ul>
            </div>
            <div>
                <ul class="pie2">
                    <H4>SIGUENOS</H4>
                    <li>INSTAGRAM</li>
                    <li>FACEBOOK</li>
                </ul>
            </div>
            <div>
                <ul class="pie3">
                    <h4>POLITICAS</h4>
                    <li>POLITICA DE PRIVACIDAD</li>
                    <li>CONDICIONES DE COMPRA</li>
                </ul>
            </div>
        </div>
        
        <%- include('partials/footer') %>
    </footer>
</body>

</html>