<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"> </link>
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <meta name = "viewport" content="width = device-width, inicial-escale = 1">
    <link rel="icon" href="img/LOGO_siesta2.ico">
    <title>Carrito - SIESTA, Argentina </title>
</head>

<body>
    <header>
        <div class="main-header">
            <a href="/"><img src="/img/LOGO_siesta.png" class="logo"></a>
        </div>     
    </header>
    
    <div class="contenedor-de-secciones">
        <div class="container"> 
            <h2 class="carrito"> CARRITO </h2>
        </div>
        <div class="container-2"> 
            <h2 class="favoritos"></i> FAVORITOS </h2>
        </div>    
    </div>

    <div class="contenedor-2">
        <article class="articulo">
            <img src="https://static.zara.net/photos///2023/S/0/1/p/3772/300/731/2/w/563/3772300731_1_1_1.jpg?ts=1690384445853" alt="SIESTA product">
            <div class="description">
                <p> 
                    MONO CORTO RAYAS <br> 
                    71.990,00 ARS <br> <br>
                    M | BEIGE OSCURO
                </p>
                <button> - | (1) | + </button>
            </div>
        </article>

        <article class="articulo">
            <img src= "img/articulo-2.jpg" alt="SIESTA product">
            <div class="description">
                <p> 
                    TRENCH OVERSIZE TRABILLAS <br> 
                    149.990,00 ARS <br> <br>
                    M | ARENA
                </p>
                <button> - | (1) | + </button>
            </div>
        </article>

        <article  class="articulo">
            <img src="img/articulo-3.jpg" alt="SIESTA product" class="imagen-3">
            <div class="description">
                <p> 
                    BLAZER TRAJE CUADROS <br> 
                    149.990,00 ARS <br> <br>
                    46 | AZUL
                </p>
                <button> - | (1) | + </button>
            </div>
        </article>
    </div>
            
    <footer>
        <div class="final"> 
            <p> /// ARGENTINA /// <br> <br> <br>
                © ALL RIGHTS RESERVED 
            </p>
        </div>

        <div class="pie-de-pagina">
            <div class="continuar">
                <p> CONTINUAR </p>
            </div>
            <div class="total">
                <h4> TOTAL: </h4> 
                <p> <b> 71.990,00 ARS  </b> <br>
                    *IVA incluido*
                </p> 
            </div>
        </div>
    </footer>
</body>
</html>
