<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <script src="https://kit.fontawesome.com/e32b1dc814.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/png" href="static/img/favicon SIESTA1.png">
</head>

<body>
    <header class="top-header">
        <div class="burger-menu">
            <a href="/"><i class="fas fa-bars"></i></a>
        </div>
        <div class="logo">
            <img src="static/img/Logo-siesta.png" alt="LogoSiesta">
        </div>
        <div class="form" action="#" method="GET">
            <div class="input">Buscar productos</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <div class="enlaces">
            <div class="ayuda"><i class="fas fa-question-circle"></i></div>
            <div class="carrito"><i class="fas fa-shopping-cart"></i></div>
        </div>
    </header>

    <main>
        <form class="datos">
            <h4>DATOS PERSONALES</h4>
            <br>
            <div class="inp"><input type="text" placeholder="E-MAIL" required></div>
            <br>
            <br>
            <div class="inp"><input type="text" placeholder="CONTRASEÑA" required></div>
            <br>
            <br>
            <div class="inp"><input type="text" placeholder="NOMBRE" required></div>
            <br>
            <br>
            <div class="inp"><input type="text" placeholder="APELLIDO" required></div>
            <br>
            <br>
            <div class="checkbox">
                <input type="checkbox" name="categorias" value="notificaciones">
                <label for="notificaciones">Quiere recibir notificaciones</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" name="categorias" value="politica">
                <label for="politica">He podido leer y acepto los terminos.</label>
            </div>
            <br><br>
            <button>CREAR CUENTA</button>
        </form>
    </main>

    <footer>
        <div class="footer-container">
            <div>
                <ul class="pie1">
                    <H4>AYUDA</H4>
                    <li>MI CUENTA</li>
                    <li>ARTICULOS Y TALLES</li>
                </ul>
            </div>
            <div>
                <ul class="pie2">
                    <H4>SIGUENOS</H4>
                    <li>INSTAGRAM</li>
                    <li>FACEBOOK</li>
                </ul>
            </div>
            <div>
                <ul class="pie3">
                    <h4>POLITICAS</h4>
                    <li>POLITICA DE PRIVACIDAD</li>
                    <li>CONDICIONES DE COMPRA</li>
                </ul>
            </div>
    </footer>
</body>

</html>